/* 设定整个网站的字体 */
body {
    font-family: "LXGW WenKai", "JetBrains Mono";
}

/* 设定代码块的字体 */
:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai"; 
    --md-code-font: "JetBrains Mono", "LXGW WenKai";
}

/* 设定代码注释的颜色为绿色 */
:root > * {
    --md-code-hl-comment-color: #38b228;
}

/* KaTeX 相关 */
.katex .mord.text,
.katex .text .mord {
    font-family: "LXGW WenKai", "JetBrains Mono", KaTeX_Main, sans-serif;
}

/* 为 Blog 页面的每一个 article 块添加一个圆角边框 */
.md-post.md-post--excerpt {
    border: 1px solid #aeb2b8;
    border-radius: 8px; /* 圆角大小 */
    padding: 16px;
    margin-bottom: 20px;
}