body {
    font-family: "LXGW WenKai", "JetBrains Mono";
}

:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai"; 
    --md-code-font: "JetBrains Mono", "LXGW WenKai";
}

:root > * {
    --md-code-hl-comment-color: #38b228;
}

.katex .mord.text,
.katex .text .mord {
    font-family: "LXGW WenKai", "JetBrains Mono", KaTeX_Main, sans-serif;
}